/* Custom css (add to Foundation styles) */

#map_canvas {
  height: 600px;
}
body {
	font-family: 'Open Sans', sans-serif;
}

.row {
  max-width: 100%;
}
.large-12.columns {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
.large-6.medium-6.columns {
	width: 50%;
}

iframe {
  width: -webkit-filter: 100%;
  width: -moz-filter: 100%;
  width: -ms-filter: 100%;
  width: -o-filter: 100%;
  filter: 100%;
}

.nopad {
  padding: 0;
}

.bottom-bord {
  border-bottom: gray;
}