/* Custom css (add to Foundation styles) */

#map_canvas {
  height: 600px;
}

.row {
  max-width: 100%;
}

iframe {
  width: -webkit-filter: 100%;
  width: -moz-filter: 100%;
  width: -ms-filter: 100%;
  width: -o-filter: 100%;
  filter: 100%;
}

.nopad {
  padding: 0;
}

.bottom-bord {
  border-bottom: gray;
}
