body {
  font-size: 13px;

}
.menutitle {

	padding:10px; 
  font-weight:bold;
}

.menbtn {

	font-size: 12px;
}

.navULdiv {

  padding-top: 20px;
}

.portraitDIV {
  float: right; 
  font-size: 11px; 
  width: 200px; 
  padding-bottom: 7px; 
  padding-left:7px; 
  padding-top: 20px;

}

.portraitDIV img {
  border: 5px solid;
}
